body {
    text-align: center;
    background-color: #20c7df;
    font-family: 'Lobster', cursive;
}

.title {
  color: beige;
  text-align: center;
  border: 3px dotted white;
  font-size: 100px;
  margin-top: 0px;
  margin-bottom: 50px;
}
#game {
    width: 250px;
    height: 250px;
    background: #eee;
    border: 1px solid #ddd;
    margin: 50px auto;
}

.header {
    background-color: black;
    width: 100%;
    height: 250px;
}
.footer {
    background-color: black;
    width: 100%;
    height: 100px;
}
table {
  margin-top: 40px;
  margin-left:auto;
  margin-right:auto;
  width: 551px;
  /*background-image: url("../images/tvsnow.jpg");*/
  background-size: cover;
  border-collapse: initial;
  margin-bottom: 50px;
}
td {
  height: 175px;
  width: 175px;
  text-align: center;
  font-size: 120px;
  border: 4px solid white;
  background-size: cover;
  background-repeat: no-repeat;
}
td:hover {
    /*background-image: url("../images/notebook.jpg");*/

}

.x-hand{
  background-image: url("../images/x-hand.png");
  border: 2px solid black;
  outline: 1px solid black;
}

.o-hand{
  background-image: url("../images/o_hand.jpeg");
  border: 2px solid black;
  outline: 1px solid black;
}

ol
    {
       display: inline-block;
       margin-left: auto;
       margin-right: auto;
       font-size: 40px;
       list-style-type: none;
    }
.button {
      background-color: black;
      margin-top:10px;

}
.music {
    margin-top: 1px;
}
p {
  color: white;
  font-size: 20px;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;

}
.rules {
    width: 60%;
    margin: 0 auto;
}

#messages {
  font-size: 30px;
}

